@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 

.product-grid{
    text-align:center;
    padding:0 0 72px;
    border:1px solid rgba(0,0,0,.1);
    overflow:hidden;
    position:relative;
    z-index:1;
    box-shadow: 0 3px 20px rgba(0,0,0,0.08);
}
.product-grid .product-image{
    position:relative;
    transition:all .3s ease 0s
}
.product-grid .product-image a{
    display:block
}
.product-grid .product-image img{
    width:100%;
    height:auto
}
.product-grid .pic-1{
    opacity:1;
    transition:all .3s ease-out 0s
}
.product-grid:hover .pic-1{
    opacity:1
}
.product-grid .pic-2{
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    transition:all .3s ease-out 0s
}
.product-grid:hover .pic-2{
    opacity:1
}
.product-grid .social{
    width:150px;
    padding:0;
    margin:0;
    list-style:none;
    opacity:0;
    transform:translateY(-50%) translateX(-50%);
    position:absolute;
    top:60%;
    left:50%;
    z-index:1;
    transition:all .3s ease 0s
}
.product-grid:hover .social{
    opacity:1;
    top:50%
}
.product-grid .social li{
    display:inline-block
}
.product-grid .social li a{
    color:#fff;
    background-color:#333;
    font-size:16px;
    line-height:40px;
    text-align:center;
    height:40px;
    width:40px;
    margin:0 2px;
    display:block;
    position:relative;
    transition:all .3s ease-in-out
}
.product-grid .social li a:hover{
    color:#fff;
    background-color:#ef5777
}
.product-grid .social li a:after,
.product-grid .social li a:before{
    content:attr(data-tip);
    color:#fff;
    background-color:#000;
    font-size:12px;
    letter-spacing:1px;
    line-height:20px;
    padding:1px 5px;
    white-space:nowrap;
    opacity:0;
    transform:translateX(-50%);
    position:absolute;
    left:50%;
    top:-30px
}
.product-grid .social li a:after{
    content:'';
    height:15px;
    width:15px;
    border-radius:0;
    transform:translateX(-50%) rotate(45deg);
    top:-20px;
    z-index:-1
}
.product-grid .social li a:hover:after,
.product-grid .social li a:hover:before{
    opacity:1
}
.product-grid .product-discount-label,
.product-grid .product-new-label{
    color:#fff;
    background-color:#ef5777;
    font-size:12px;
    text-transform:uppercase;
    padding:2px 7px;
    display:block;
    position:absolute;
    top:10px;
    left:0
}
.product-grid .product-discount-label{
    background-color:#333;
    left:auto;
    right:0
}
.product-grid .rating{
    color:#FFD200;
    font-size:12px;
    padding:12px 0 0;
    margin:0;
    list-style:none;
    position:relative;
    z-index:-1
}
.product-grid .rating li.disable{
    color:rgba(0,0,0,.2)
}
.product-grid .product-content{
    background-color:#fff;
    text-align:center;
    padding:12px 0;
    margin:0 auto;
    position:absolute;
    left:0;
    right:0;
    bottom:-30px;
    z-index:1;
    transition:all .3s
}
.product-grid:hover .product-content{
    bottom:0
}
.product-grid .title{
    font-size:13px;
    font-weight:400;
    letter-spacing:.5px;
    text-transform:capitalize;
    margin:0 0 10px;
    transition:all .3s ease 0s
}
.product-grid .title a{
    color:#828282
}
.product-grid .title a:hover,
.product-grid:hover .title a{
    color:#ef5777
}
.product-grid .price{
    color:#333;
    font-size:17px; 
    font-weight:700;
    letter-spacing:.6px;
    margin-bottom:8px;
    text-align:center;
    transition:all .3s
}
.product-grid .price span{
    color:#999;
    font-size:13px;
    font-weight:400;
    text-decoration:line-through;
    margin-left:3px;
    display:inline-block
}
.product-grid .add-to-cart{
    color:#000;
    font-size:13px;
    font-weight:600
}

.m-rating li a i {
    color: #FFD200 !important;
}

.shop_hover_card{
    border-radius: 20px;
}

.col-carousel {
	margin: 10px 0;
}
.carousel-main img{
    border-radius: 30px;
    height: 160px;
    width: 160px !important;
 
}
.carousel-main {
    padding-left: 30px;
    padding-right: 30px;
 
}

.imgHolder{
    /* height: 160px; */
    width: 160px !important;
 
}
.imgHolder:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 4px;
    margin-bottom: 1px;
    border-radius: 30px;
    border: 1px solid #f05518;
  
   
}
/* latest product .carousel  */
.carousel-main-latest-product img, .carousel-main-featured-product img{
    border-radius: 30px;
     height: 150px;
   /* width: 200px !important; */
 
}
.carousel-main-latest-product, .carousel-main-featured-product{
    padding-left: 30px;
    padding-right: 30px;
 
}
.imgHolder-product{
    /* height: 160px; */
    width: 150px !important;
    height: auto;
   
 
}
.imgHolder-product:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 4px;
    margin-bottom: 1px;
    border-radius: 10px;
    border: 1px solid #423b38;
  
   
}
/* owl nav */
.owl-prev span, .owl-next span {
	color: #01002e;
}

.owl-prev span:hover, 
.owl-next span:hover {
	color: #8199A3;
}

.owl-prev, .owl-next {
	position: absolute;
    /* margin-top: 4px; */
	top:60px;
    /* bottom: 0; */
	height: 100%;
}

.owl-prev {
	left: -13px;
}

.owl-next {
	right: 2px;
   
}

/* removing blue outline from buttons */
button:focus, button:active {
   outline: none;
}

.carousel-indicators li {
    height: 10px !important;
    border-radius: 50% !important;
    width: 10px;
    background-color: rgb(88, 87, 95);
}
.carousel .carousel-control-prev{
    visibility: hidden;
}
.carousel:hover .carousel-control-prev{
    visibility: visible;
}
.carousel  .carousel-control-next{
    visibility: hidden;
}
.carousel:hover  .carousel-control-next{
    visibility: visible;
}
.carousel-control-prev-icon{
        background-color:#747373 !important;
        border-radius: 50%;
        padding: 15px;
}
.carousel-control-next-icon{
    background-color: #7c7c7c  !important;
    border-radius: 50%;
    padding: 15px;
}


.invisibleInput{
    border:none;
    background-color: #01002e;

}
  
.invisibleInput:focus, .invisibleInput:active{
    border:none;
    background-color: #01002e;
    
}
.colorid{
    width:22px; 
    min-height:20px; 
}
/* ol .carousel-indicators li:active {
    background-color: rgb(221, 11, 11);
} */
.m-img-holder{
    height: 50% !important;
    width: 50% !important;
    border-radius: 50% !important;
    border: 2px double rgba(2, 9, 77, 0.795);
}
/* media query */
@media only screen and (max-width:990px){
    .product-grid{
        margin-bottom:30px
    }
    .removeCart.btn{
        width: 100% !important;
        display:block;
        padding: 1px;
        margin: 0;
        border-radius:10px;
        
    }
    .colorid{
        width:22px !important; 
        height:10px !important; 
        margin: 0 !important;
    }
    .colortext{
        font-size: 14px;
        font-weight: bold;
    }
    .btn-number span{
        font-size: 18px;
    }
    .input-number{
        margin-top:2px !important;
        width: auto !important;
        align-content: center;
        font-size: 18px;
        padding-top: 3px !important;
        padding-bottom: 0px !important;
        padding-left: auto;
        border: 0px !important;
    
    }
}
 

  